numpy>=1.23.0
matplotlib>=3.3.0
opencv-python>=4.6.0
pillow>=7.1.2
requests>=2.23.0
scipy>=1.4.1
torch>=1.8.0
torchvision>=0.9.0
tqdm>=4.64.0
pandas>=1.1.4
seaborn>=0.11.0
contourpy>=1.0.1
cycler>=0.10
fonttools>=4.22.0
kiwisolver>=1.0.1
packaging>=20.0
pyparsing>=2.3.1
ultralytics==8.3.38
python-dotenv==0.21.0
SQLAlchemy==1.4.41
psycopg2-binary==2.9.3
openpyxl==3.0.10
pytesseract==0.3.13
paddlepaddle>=2.0.1
paddleocr>=2.0.1